{% extends "base.html" %}
{% block content %}

<h1>Add A New Blog</h1>
<br>
<form  method="POST">
    <label>Title of my New Blog:
        <br>
        <input type="text" name="new_blog" value="{{new_blog}}">
    </label>
    <p class="error">{{title_error}}</p>
    <label> Enter Blog Text Here:
        <br>
        <textarea name = "blog_text" style="width:540px; height:125px;">{{blog_text}}</textarea>
    </label>
    <p class="error">{{body_error}}</p>
    <input type="submit" value="Add It">
</form>

{% endblock %}