{% extends "base.html" %}
{% block content %}

<h1>Blog Posts</h1>

{% if blogs|length == 0 %}
  <h3> No blog posts yet.</h3>
  {%else%}

    {% for blog in blogs: %}
      
    <a href='/blog?id={{blog.id}}'>
        <h2>{{ blog.title }}</h2></a>
          <p>{{blog.body}}</p>
          <hr>
            <input type="hidden" name="title" value="{{ blog.id }}"/>
<p class="post-author">
  written by
  <a href="/blog?user=user">user</a>
</p>   
</body>
</html>    
        
    {% endfor %}

{% endif %}

{% endblock %}
