{% extends "base.html" %}
{% block content %}

{% if bloglist|length > 0 %}
  <h2>My Awesome Blog Posts</h2>
  <ul>
    {% for blog in bloglist: %}
      <li>
          <p><a href='/blog?id={{blog.id}}'>
            <!--<form method="POST" action='/blog'>-->
            {{ blog.title }}</p></a>
          <p>{{blog.body}}</p>
            <input type="hidden" name="title" value="{{ blog.id }}"/>
            <p></p>
          </form>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
<!--<a href= "/blog?id="></a>