{% extends "base.html" %}

{% block content %}
<h2>Dead Blogs:</h2>

<ul>
  {% for blog in blogs %}
    <li>
      <h3>{{ blog.blog_title }}</h3>
      <form action="/blog_text_page" method="post">
        <label>
          My Blogg:
          <select name="blog_text">
            {% for blog_text in ["Enter new blog text here."] %}
              <option {% if blog_text=blog.blog_text %}selected{% endif %}>{{ rating }}</option>
            {% endfor %}
          </select>
        </label>
        <input type="hidden" name="blog_id" value="{{ blog.id }}"/>
        <input type="submit" value="Add Text!"/> 
      </form>
    </li>
  {% endfor %}
</ul>

{% endblock %}
