{% extends "base.html" %}
{% block content %}

{% if bloglist|length > 0 %}
  <h2>My Blogs</h2>
  <ul>
    {% for blog in bloglist: %}
      <li>
          {{ blog.blog_title }}
          <input type="hidden" name="blog_title" value="{{ blog.id }}"/>
          <input type="submit" value="Delete it!"/>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endif %}


<h2>Add A New Blog</h2>

<form action="/add" method="post">
    <label>
        Title of my New Blog:
        <input type="text" name="new-blog"/>
        Enter Blog Text Here:
        <input type="text" name="blog-text"/>
    </label>
    <input type="submit" value="Add It"/>
</form>

<h2><a href="/new_blog_text"> Blogs</a></h2>

{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}
{% endblock %}
